* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main-container {
    min-height: 70vh;
    padding: 20px;
  }

  body{ 
    display:flex; 
    flex-direction:column; 
  }
  
  .footer{
    margin-top:auto; 
  }

  .containerCaso{
    margin-top: 10px;
  }